header {
    nav {
        .menu {
            background-color: $bg_azul;
            list-style-type: none;
            padding: 0;
            margin: 20px auto;
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li {
                padding: 10px;
                margin: 10px;
                a {
                    color: $bg_claro;
                    text-decoration: none;
                    padding: 20px;
                    &:hover {
                        background-color: $bg_oscuro;
                        color: $bg_claro;
                    }
                }
            }
        }
    }
}