main{
    .empresa{
        width: 90%;
        margin: auto;
        .titulo{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $bg_oscuro;
            font-size: 2rem;
            padding: 50px 0;
        }
        .texto{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            padding-bottom: 50px;
        }
        img{
            width: 100%;
        }
    }
}